@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
    --color-text: #ffffff;
    --background-color-primary: #04AFB5;
    --background-color-header: #025457;
    --background-color-field: #038A8F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color-primary);
    color: var(--color-text);
    font-family: 'Montserrat', sans-serif; /*https://fonts.google.com/*/
    font-weight: 300;
    font-size: 20px;
}

.header {
    background-color: var(--background-color-header);
    padding: 25px 100px;
    font-weight: 600;
    text-align: center;
}

h1 {
    font-size: 30px;
}

.filters {
    background-color: var(--background-color-field);
    margin-top: 5px;
    padding: 5px 5px;
    font-weight: 600;
    text-align: center;

}

.filters label {
    font-size: 15px;
}

main {
    margin: 0px;
    width: 100%;
}

.main-content {
    /*margin: 25px;*/
    margin-top: 5px;

}

.pokemon {
    font-family: 'Montserrat', sans-serif; /*https://fonts.google.com/*/
    font-weight: 300;
    margin: 5px;
    background-color: var(--background-color-field);
    padding: 5px;
    width: 220px;
    /*height: auto;*/
    min-height: 200px;
    font-size: 15px;
    border-radius: 0px 0px 4px 4px;
}
.pokemon__sceleton {
    background-color: #77b2b4;
    margin: 5px;
    padding: 5px;
    width: 220px;
    min-height: 200px;
    border-radius: 0px 0px 4px 4px;
}

h5 {
    margin-top: 3px;
}

.img-pokemon {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

input[type='checkbox'] {
    accent-color: var(--background-color-header);
    color: var(--background-color-header);
}

.typesList {
    color: var(--background-color-header);
    padding: 0px;
    margin-left: 27px;
    text-align: justify;
}

.listLi-over {
    color: #ffffff;
}

.listItem {
    color: #ffffff;
}

.listItem-active {
    color: var(--background-color-header);
    font-weight: 600;
}

.page__wrapper {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.page {
    padding: 10px;
    margin: 2px;
    border: 1px solid var(--background-color-field);;
    border-radius: 5px;
    cursor: pointer;
}

.page__current {
    border: 3px solid var(--background-color-field);
    font-weight: bold;
}