.myBtn {
    padding: 5px 15px;
    color: var(--color-text);
    /*background: transparent;*/
    background: var(--background-color-field);
    border: 2px solid var(--background-color-primary);
    cursor: pointer;
}